<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>Panorama actual</h3>
    </div>
    <div class="col-md-4">
      <div class="input-group" style="margin-top: -6px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker" style="color:#f40b0b"></i>&nbsp; Filtrar por ubicación</span>
        </div>
        <select size="1" class="form-control">
          <option value="0">Organización (todo)</option>
          <option value="1" selected>Planta San Justo</option>
          <option value="2">Depósito Lomas del Mirador</option>
        </select>
      </div>
    </div> 
  </div>
  <hr class="divider" />
  <div class="row dashboard">
    <div class="col-md-4">
      <div class="card card-style-1">
        <div class="card-header">
          <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Ahora
        </div>
        <div class="card-body">
          Miércoles 13/06<br/>
          09:38 hs
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-style-2">
        <div class="card-header">
          <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Porcentaje asistencia
        </div>
        <div class="card-body percent">
          89 %
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-style-3">
        <div class="card-header">
          <i class="fa fa-balance-scale" aria-hidden="true"></i>&nbsp;&nbsp;Balance de asistencia
        </div>
        <div class="card-body">
          64 presenciados<br/>
          10 ausentes
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-style-4">
        <div class="card-header">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Asistencia promedio 7 días
        </div>
        <div class="card-body percent">
          87 %
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-style-5">
        <div class="card-header">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Asistencia promedio 15 días
        </div>
        <div class="card-body percent">
          91 %
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-style-6">
        <div class="card-header">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Asistencia promedio 30 días
        </div>
        <div class="card-body percent">
          90 %
        </div>
      </div>
    </div>
  </div>
</div>