<div class="container-fluid" id="organization-crud">
  <div class="row">
    <div class="col-md-12">
      <h3>Mi organización</h3>
    </div>
  </div>
  <hr class="divider" />

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
      <a class="nav-item nav-link" id="nav-tolerancias-tab" data-toggle="tab" href="#nav-tolerancias" role="tab" aria-controls="nav-tolerancias" aria-selected="false">Tolerancias</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
      <div class="row">
        <div class="col-md-12">
            <div class="photo-border">
              <div class="photo"
              [ngStyle]="{backgroundImage: 'url(' + model.picture_url + ')'}"></div>
            </div>
        </div>
        <div class="col-md-4 offset-md-3">
            <div class="form-group">
                <label for="formGroupExampleInput">Empresa</label>
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text country-flag"
                    [ngStyle]="{backgroundImage: 'url(assets/country-flag-icons/svg/' + model.country_icon + '.svg)'}"
                    >
                    </span>
                </div>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Empresa"
                    readonly="readonly"
                    [(ngModel)]="model.business_name" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
              <label for="formGroupExampleInput">Membresía desde</label>
              <input
                type="text"
                class="form-control"
                placeholder="Membresía desde"
                readonly="readonly"
                value="{{ model.registered_at  |  date:'MM/dd/yyyy' }}" />
            </div>
          </div>
      </div>
    </div>


    <div class="tab-pane fade tab-tolerancias" id="nav-tolerancias" role="tabpanel" aria-labelledby="nav-tolerancias-tab">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Fichado</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Tolerancia en INGRESO</label>
                            <div class="input-group input-sm">
                                <input type="number"
                                    class="form-control"
                                    [(ngModel)]="model.jornada_tolerancia_ingreso_mins">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">minutos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Tolerancia en EGRESO</label>
                            <div class="input-group input-sm">
                                <input type="number"
                                    class="form-control"
                                    [(ngModel)]="model.jornada_tolerancia_egreso_mins">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">minutos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Almuerzo</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Rango horario DESDE</label>
                            <div class="input-group input-sm">
                                <input type="text"
                                    class="form-control"
                                    placeholder="HH:MM"
                                    value="{{ model.almuerzo_rango_horario_desde  |  date:'HH:mm' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Rango horario HASTA</label>
                            <div class="input-group input-sm">
                                <input type="text"
                                    class="form-control"
                                    placeholder="HH:MM"
                                    value="{{ model.almuerzo_rango_horario_hasta  |  date:'HH:mm' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Tiempo límite para almuerzo</label>
                            <div class="input-group input-sm">
                                <input type="number"
                                    class="form-control"
                                    [(ngModel)]="model.almuerzo_tiempo_limite_mins">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">minutos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

  </div>

  
  <div class="row crud-footer">
    <div class="col-md-12">
      <button class="btn btn-danger btn-circular left" (click)="onCancelClick()" data-toggle="tooltip" data-placement="right" title="Cancelar"><i class="fa fa-times"></i></button>
      <button class="btn btn-success btn-circular right" (click)="onSaveClick()" data-toggle="tooltip" data-placement="left" title="Guardar"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>
