[role='alert'] {
    margin-bottom:1.6rem;
    font-size: 1.15rem;
    font-weight: 300;
    padding: 0.5rem;
    margin: -9px !important;
    display: inline;
    margin: 0 auto;
    float: right;
}

i.online {
    color: rgb(4, 167, 4);
}

i.offline {
    color: rgb(173, 26, 26);
}