<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/img/logo.png" />
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item nav-item-now">
            <a class="nav-link" [routerLink]="['/']"><b>Ahora</b></a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABM
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/marcas']">Marcas</a>
              <a class="dropdown-item" [routerLink]="['/marcas/new']">[+] Nueva Marca</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Caja
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/cajas/diaria']">Ver caja diaria</a>
              <a class="dropdown-item" [routerLink]="['/cajas/diaria/new']">[+] Nuevo movimiento</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/cajas/fuerte']">Ver caja fuerte</a>
              <a class="dropdown-item" [routerLink]="['/cajas/fuerte/new']">[+] Nuevo movimiento</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/cajas/transferencia']">[+] Transferencia entre cajas</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/clientes']">Ver clientes</a>
              <a class="dropdown-item" [routerLink]="['/clientes/new']">[+] Nuevo cliente</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/productos']">Productos</a>
              <a class="dropdown-item" [routerLink]="['/productos/new']">[+] Nuevo Producto</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/precios']">Precios</a>
              <a class="dropdown-item" [routerLink]="['/precios/new']">[+] Nuevo Precio</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stock
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/stock']">Ver movimientos</a>
              <a class="dropdown-item" [routerLink]="['/stock/new']">[+] Nuevo Ingreso / Egreso</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pedidos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/pedidos']">Ver ordenes de pedido</a>
              <a class="dropdown-item" [routerLink]="['/pedidos/new']">[+] Nueva orden de pedido</a>
            </div>
          </li>
        </ul>
      </div>

      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/me/profile']"><i class="fa fa-user" aria-hidden="true"></i> Mi perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/logout']"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
