<div class="container-fluid" id="device-crud">
    <div class="row">
      <div class="col-md-12">
        <h3>Consultas 1A</h3>
      </div>
    </div>
    <hr class="divider" />
    <div class="row">
      <div class="col-md-12">

        <img src="assets/img/example-1.png" style="margin:0 auto; display: block;" />
        
        <!-- <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas> -->

      </div>
    </div>
  </div>
  